* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  padding: 20px 8%;
  border-bottom: 1px solid #ddd;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: black;
}

.hero {
  min-height: 80vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.hero h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.hero p {
  max-width: 600px;
  font-size: 20px;
  line-height: 1.6;
}

.hero button {
  margin-top: 30px;
  padding: 14px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 20px;
}
